

		</div>
<br><br><br><br><br><br>

<div id="footer">
			<p>A note here to go in the footer</p>
			<p><a href="#">Contact Us</a> | <a href="#">Privacy</a> | <a href="#">Links</a></p>
			</div>
		</div>

</div>
</body>
</html>