#parse ("common/message.vm")
<!DOCTYPE html>
<html>
<head>
    <title>：：：SOFTWIZ：：：</title>
    <META http-equiv="Expires" content="-1">
	<META http-equiv="Pragma" content="no-cache">
	<META http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../common/css/common.css" media="screen">
    <link rel="stylesheet" href="../common/css/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="../common/css/select2.css" media="screen">
    <link rel="stylesheet" href="../common/css/jquery.treeview.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../common/css/jquery.cleditor.css" />
    <link href='../common/css/fullcalendar.css' rel='stylesheet' />
	<link href='../common/css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script type="text/javascript" src="../common/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.linq.min.js"></script>
<script type="text/javascript" src="../common/js/linq.min.js"></script>
<script type="text/javascript" src="../common/js/common.js"></script>
<script type="text/javascript" src="../common/js/ejs_production.js"></script>
<script type="text/javascript" src="../common/js/view.js"></script>
<script type="text/javascript" src="../common/js/jquery.validate.js"></script>
<script type="text/javascript" src="../common/js/jquery.i18n.properties-1.0.9.js"></script>
<script type="text/javascript" src="../common/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="../common/js/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" src="../common/js/select2.js"></script>
<script type="text/javascript" src="../common/js/jquery.treeview.js"></script>
<script type="text/javascript" src="../common/js/jquery.cleditor.min.js"></script>
<script type="text/javascript" src="../common/js/additional-methods.js"></script>
<script type="text/javascript" src='../common/js/fullcalendar.min.js'></script>
<script type="text/javascript" src='../common/js/gcal.js'></script>

</head>
<body id="type-b">
<div id="wrap">

	<div id="header">
		<div id="site-name">求人サイト管理</div>
		<ul id="nav">
		<li id="mypage"><a href="../mypage/main.html">HOME</a></li>

		<li id="site">
			<a href="../admin/sitelist.html">サイト管理</a>
			<ul>
				<li id="sitelist"><a href="../admin/sitelist.html">サイト情報閲覧</a></li>
			</ul>
		</li>
		<li id="jobseek">
			<a href="../admin/userlist.html">求職者管理</a>
			<ul>
				<li id="userlist"><a href="../admin/userlist.html">ユーザ情報閲覧</a></li>
				<li id="jobseeklist"><a href="../admin/jobseeklist.html">求職現状閲覧</a></li>
			</ul>
		</li>
		<li id="joboffer">
			<a href="../admin/companylist.html">求人者管理</a>
			<ul>
				<li id="companylist"><a href="../admin/companylist.html">企業情報閲覧</a></li>
				<li id="jobofferlist"><a href="../admin/jobofferlist.html">求人現状閲覧</a></li>
			</ul>
		</li>
		<li id="customer">
			<a href="../admin/newslist.html">顧客管理</a>
			<ul>
				<li id="newslist"><a href="../admin/newslist.html">お知らせ情報閲覧</a></li>
				<li id="toiawaselist"><a href="../admin/toiawaselist.html">お問い合わせ情報閲覧</a></li>
				<li id="faqlist"><a href="../admin/faqlist.html">FAQ情報閲覧</a></li>
			</ul>
		</li>
		<li id="board">
			<a href="../admin/boardmasterlist.html">掲示板管理</a>
			<ul>
				<li id="boardmasterlist"><a href="../admin/boardmasterlist.html">掲示板マスタ情報閲覧</a></li>
				<li id="boardlist"><a href="../admin/boardlist.html">掲示板情報閲覧</a></li>
			</ul>
		</li>
		<li id="category">
			<a href="../admin/categorylist.html">カテゴリ管理</a>
			<ul>
				<li id="categorylist"><a href="../admin/categorylist.html">カテゴリ情報閲覧</a></li>
				<li id="arealist"><a href="../admin/arealist.html">都道府県情報閲覧</a></li>
			</ul>
		</li>
		<li id="statistics">
			<a href="../admin/statisticslist.html">統計管理</a>
			<ul>
				<li id="statisticslist"><a href="../admin/statisticslist.html">統計情報閲覧</a></li>
			</ul>
		</li>
		<li id="adv">
			<a href="../adv/advlist.html">広告管理</a>
			<ul>
				<li id="advlist"><a href="../admin/advlist.html">広告情報閲覧</a></li>
			</ul>
		</li>
		<li id="etc">
			<a href="../admin/paidservicelist.html">その他管理</a>
			<ul>
				<li id="paidservicelist"><a href="../admin/paidservicelist.html">有料サービス情報閲覧</a></li>
				<li id="settlelist"><a href="../admin/settlelist.html">決済情報閲覧</a></li>
				<li id="keywordlist"><a href="../admin/keywordlist.html">キーワード情報閲覧</a></li>
			</ul>
		</li>
		<li><a href="../j_spring_security_logout">ログアウト</a></li>
	</ul>
	</div>

	<div id="content-wrap">

		<div id="utility">

			<ul id="nav-secondary">

		<li id="lsite">
			<a href="../admin/sitelist.html">サイト管理</a>
			<ul>
				<li id="lsitelist"><a href="../admin/sitelist.html">サイト情報閲覧</a></li>
			</ul>
		</li>
		<li id="ljobseek">
			<a href="../admin/userlist.html">求職者管理</a>
			<ul>
				<li id="luserlist"><a href="../admin/userlist.html">ユーザ情報閲覧</a></li>
				<li id="ljobseeklist"><a href="../admin/jobseeklist.html">求職現状閲覧</a></li>
			</ul>
		</li>
		<li id="ljoboffer">
			<a href="../admin/companylist.html">求人者管理</a>
			<ul>
				<li id="lcompanylist"><a href="../admin/companylist.html">企業情報閲覧</a></li>
				<li id="ljobofferlist"><a href="../admin/jobofferlist.html">求人現状閲覧</a></li>
			</ul>
		</li>
		<li id="lcustomer">
			<a href="../admin/newslist.html">顧客管理</a>
			<ul>
				<li id="lnewslist"><a href="../admin/newslist.html">お知らせ情報閲覧</a></li>
				<li id="ltoiawaselist"><a href="../admin/toiawaselist.html">お問い合わせ情報閲覧</a></li>
				<li id="lfaqlist"><a href="../admin/faqlist.html">FAQ情報閲覧</a></li>
			</ul>
		</li>
		<li id="lboard">
			<a href="../admin/boardmasterlist.html">掲示板管理</a>
			<ul>
				<li id="lboardmasterlist"><a href="../admin/boardmasterlist.html">掲示板マスタ情報閲覧</a></li>
				<li id="lboardlist"><a href="../admin/boardlist.html">掲示板情報閲覧</a></li>
			</ul>
		</li>
		<li id="lcategory">
			<a href="../admin/categorylist.html">カテゴリ管理</a>
			<ul>
				<li id="lcategorylist"><a href="../admin/categorylist.html">カテゴリ情報閲覧</a></li>
				<li id="larealist"><a href="../admin/arealist.html">都道府県情報閲覧</a></li>
			</ul>
		</li>
		<li id="lstatistics">
			<a href="../admin/statisticslist.html">統計管理</a>
			<ul>
				<li id="lstatisticslist"><a href="../admin/statisticslist.html">統計情報閲覧</a></li>
			</ul>
		</li>
		<li id="ladv">
			<a href="../adv/advlist.html">広告管理</a>
			<ul>
				<li id="ladvlist"><a href="../admin/advlist.html">広告情報閲覧</a></li>
			</ul>
		</li>
		<li id="letc">
			<a href="../admin/paidservicelist.html">その他管理</a>
			<ul>
				<li id="lpaidservicelist"><a href="../admin/paidservicelist.html">有料サービス情報閲覧</a></li>
				<li id="lsettlelist"><a href="../admin/settlelist.html">決済情報閲覧</a></li>
				<li id="lkeywordlist"><a href="../admin/keywordlist.html">キーワード情報閲覧</a></li>
			</ul>
		</li>
			</ul>
		</div>
<script>

$(function(){
	var path = window.location.pathname.split("/");
	 if(path[3].indexOf("sitelist.html")>=0) {
	 	$('#site').addClass("active");
	 	$('#sitelist').addClass("active");
	 	$('#lsitelist').addClass("active");
	 } else if(path[3].indexOf("userlist.html")>=0) {
		 $('#jobseek').addClass("active");
		 $('#userlist').addClass("active");
		 $('#luserlist').addClass("active");
	 } else if(path[3].indexOf("jobseeklist.html")>=0) {
		 $('#jobseek').addClass("active");
		 $('#jobseeklist').addClass("active");
		 $('#ljobseeklist').addClass("active");
	 } else if(path[3].indexOf("companylist.html")>=0) {
		 $('#joboffer').addClass("active");
		 $('#companylist').addClass("active");
		 $('#lcompanylist').addClass("active");
	 } else if(path[3].indexOf("jobofferlist.html")>=0) {
		 $('#joboffer').addClass("active");
		 $('#jobofferlist').addClass("active");
		 $('#ljobofferlist').addClass("active");
	 } else if(path[3].indexOf("newslist.html")>=0) {
		 $('#costomer').addClass("active");
		 $('#newslist').addClass("active");
		 $('#lnewslist').addClass("active");
	 } else if(path[3].indexOf("toiawaselist.html")>=0) {
		 $('#coustomer').addClass("active");
		 $('#toiawaselist').addClass("active");
		 $('#ltoiawaselist').addClass("active");
	 } else if(path[3].indexOf("faqlist.html")>=0) {
		 $('#costomer').addClass("active");
		 $('#faqlist').addClass("active");
		 $('#lfaqlist').addClass("active");
	 } else if(path[3].indexOf("boardmasterlist.html")>=0) {
		 $('#board').addClass("active");
		 $('#boardmasterlist').addClass("active");
		 $('#lboardmasterlist').addClass("active");
	 } else if(path[3].indexOf("boardlist.html")>=0) {
		 $('#board').addClass("active");
		 $('#boardlist').addClass("active");
		 $('#lboardlist').addClass("active");
	 } else if(path[3].indexOf("categorylist.html")>=0) {
		 $('#category').addClass("active");
		 $('#categorylist').addClass("active");
		 $('#lcategorylist').addClass("active");
	 } else if(path[3].indexOf("arealist.html")>=0) {
		 $('#category').addClass("active");
		 $('#arealist').addClass("active");
		 $('#larealist').addClass("active");
	 } else if(path[3].indexOf("statisticslist.html")>=0) {
		 $('#statistics').addClass("active");
		 $('#statisticslist').addClass("active");
		 $('#lstatisticslist').addClass("active");
	 } else if(path[3].indexOf("advlist.html")>=0) {
		 $('#adv').addClass("active");
		 $('#advlist').addClass("active");
		 $('#ladvlist').addClass("active");
	 } else if(path[3].indexOf("paidservicelist.html")>=0) {
		 $('#etc').addClass("active");
		 $('#paidservicelist').addClass("active");
		 $('#lpaidservicelist').addClass("active");
	 } else if(path[3].indexOf("settlelist.html")>=0) {
		 $('#etc').addClass("active");
		 $('#settlelist').addClass("active");
		 $('#lsettlelist').addClass("active");
	 } else if(path[3].indexOf("keywordlist.html")>=0) {
		 $('#etc').addClass("active");
		 $('#keywordlist').addClass("active");
		 $('#lkeywordlist').addClass("active");
	 }

});
</script>
